{% extends "email/base.html.twig" %}

{% block body %}
    <h1>Access token for {{ siteTitle }}</h1>

    {% set dashboardUrl = url('login', { token: accessToken }) %}
    <p>Follow this link to go to the dashboard: <a href="{{ dashboardUrl }}">{{ dashboardUrl }}</a>.</p>
{% endblock body %}
