parameters:
  level: max
  paths:
    - src/
    - test/
  excludes_analyse:
    - src/LeanpubBookClub/Infrastructure/Doctrine/Migrations
    - src/LeanpubBookClub/Infrastructure/TalisOrm/TalisOrmBundle/DependencyInjection/Configuration.php
    - src/LeanpubBookClub/Infrastructure/Symfony
    - test/bootstrap.php
    - test/Functional/
  # Normally I don't recommend these settings but for now I just want the project to run again
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
includes:
  - vendor/phpstan/phpstan-beberlei-assert/extension.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
