<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.7/phpunit.xsd"
         bootstrap="./test/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="unit">
            <directory>./test/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>./test/Integration</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>./test/Functional</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="KERNEL_CLASS" value="LeanpubBookClub\Infrastructure\Symfony\Kernel"/>
    </php>
</phpunit>

