{% extends "base.html.twig" %}

{% block body %}

    <h1>Thanks for requesting access to the club</h1>

    <p>You'll receive an email with the outcome of your request.</p>

    <p>If you've been accepted as a member, you'll receive a link with an access token, using which you can log in to
        the application and sign up for upcoming sessions.</p>
    <p>If your Leanpub purchase ID could not be matched with an actual purchase, you'll also get an email.</p>
    <p>If it takes longer than a few minutes, or you have other questions, please contact <a
                href="mailto:info@matthiasnoback.nl">info@matthiasnoback.nl</a>
    </p>

{% endblock body %}
