{% extends "base.html.twig" %}

{% block body %}

    <h1>Thanks for requesting access to the club</h1>

    <p>Once you've been accepted as a member, you'll receive an email with an access token. Use it to log in to
        the member area. There you can register for upcoming sessions.</p>
    <p><em>Please note: it may take a couple of minutes before we can match your Purchase ID with data from Leanpub.</em></p>
    <p>If it takes longer than a few minutes, or if you have other questions, please contact
        <a href="mailto:info@matthiasnoback.nl">info@matthiasnoback.nl</a>.
    </p>

{% endblock body %}
