<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Leanpub Book Club{% endblock %}</title>
    <link rel="stylesheet" href="/css/bootstrap-4.4.1-min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="alerts mb-3 mt-3">
        {% for key, messages in app.flashes() %}
            {% for message in messages %}
                <div class="alert alert-{{ key }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</div>
</body>
</html>
