{% extends "base.html.twig" %}

{% block body %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-8">

                <h1 class="display-4">Object Design Style Guide</h1>
                <p class="lead">Read the book together with the author</p>
                <hr class="my-4">

                <h3>Already a member?</h3>
                {{ form(requestAccessTokenForm) }}
            </div>
            <div class="col-sm-3">
                <a href="https://leanpub.com/object-design/" target="_blank"><img
                            src="/assets/title_page.jpg"
                            class="img-fluid"/></a>
            </div>
        </div>
    </div>

    <h2>Not a member yet? Sign up</h2>
    {{ form(requestAccessForm) }}

{% endblock body %}
